.body-container {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 0.6fr 2fr 0.8fr;
  grid-template-rows: 100vh;
  grid-template-areas: "category posts explore";
}
.category {
  grid-area: category;
  /* background-color: aliceblue; */
}
.posts {
  grid-area: posts;
  overflow: scroll;
  /* background-color: aliceblue; */
}
.explore {
  grid-area: explore;
  /* background-color: aliceblue; */
}
/* Media query for small laptops and Tablets */
@media only screen and (max-width: 1200px) {
}

/* Media query for smart phones and mobiles */
@media only screen and (max-width: 600px) {
  .body-container {
    grid-template-columns: 100vw;
    grid-template-rows: auto auto;
    grid-template-areas:
      "category"
      " posts";
  }
  .explore {
    display: none;
  }
}
