.body-container {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 0.8fr 2fr 0.9fr;
  grid-template-rows: 100vh;
  grid-template-areas: "category posts explore";
}
.category {
  grid-area: "category";
  /* background-color: aliceblue; */
}
.posts {
  grid-area: "posts";
  /* background-color: aliceblue; */
}
.explore {
  grid-area: "explore";
  /* background-color: aliceblue; */
}
/* Media query for small laptops and Tablets */
@media only screen and (max-width: 1200px) {
}

/* Media query for smart phones and mobiles */
@media only screen and (max-width: 600px) {
  .body-container {
    grid-template-columns: 100vw;
    grid-template-rows: auto 100vh 100vh;
    grid-template-areas:
      "category"
      " posts"
      " explore";
  }
}
