.category-container {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}
.chip {
  margin: 5px auto;
  min-width: 10rem;
  text-transform: capitalize;
}
.rectangle {
  border-radius: 5px !important;
}
@media only screen and (max-width: 600px) {
  .category-container {
    width: 100%;
    flex-direction: row;
    margin: 5px auto;
    padding-top: 10px !important;

    overflow: scroll;
    cursor: pointer;
  }
  .chip {
    margin: 5px 2px;

    min-width: 6rem;
  }
}
