.crop-container {
  background-color: gray;
  width: 60vw;
  display: grid;
  gap: 10px;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "cropper"
    "controls";
}
.cropper {
  position: relative;
  height: 50vh;
  width: inherit;
  margin: auto;
  grid-area: cropper;
}
.controls {
  width: 50%;
  margin: auto;
  position: relative;
  grid-area: controls;
}
.slider {
  margin: 10px 0;
}
.done {
  margin: auto;
}
@media only screen and (max-width: 600px) {
  .crop-container {
    width: 100vw;
  }
}
