.select-image {
  display: flex;
  flex-direction: rows;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10rem;
}
#local-image- {
  margin: 40px 20px;
  width: 20rem;
  display: none;
}

.url-text-field {
  margin: 40px 20px !important;
  width: 20rem;
}
.local-image {
  margin: 20px 80px;
}
.line {
  display: block;
  padding: 20px;
}
@media only screen and (max-width: 600px) {
  .select-image {
    flex-direction: column;
    padding: 5rem auto;
  }
}
