.signup {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100wh;
  align-items: center;
  justify-content: center;
}
.input {
  margin: 20px 0 !important;
  width: 20rem !important;
}
.title {
  font-size: 2rem;
  font-weight: 100;
}
